html,
body {
  height: 100%;
}

.login-box,
.register-box {
  width: 360px;
  height: -webkit-fill-available;
  margin: auto;
}

.glyphicon {
  right: 10px;
}

.form-group {
  margin-bottom: 15px;
  height: 60px;
}

label {
  font-weight: 500;
}

.alert {
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.content-header > h1 {
  margin-bottom: 10px;
}

.content {
  min-height: 0px;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 10px;
}

.grid-item {
  padding: 5px;
  text-align: center;
}

.box-footer {
  border-top: none;
}

.img-box {
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
}

.line-vertical {
  border-right: 2px solid #e8e8e8;
  padding: 5px;
}
.form-filed {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}
.dropzone-wrapper {
  margin-top: 10px;
  margin-left: 25%;
  margin-right: 25%;
}
.dropzone {
  width: 100%;
  height: auto;
  padding: 10px;
  border: 1px dashed;
}
