html,
body {
  height: 100%;
}

.login-box,
.register-box {
  width: 360px;
  height: -webkit-fill-available;
  margin: auto;
}

.glyphicon {
  right: 10px;
}

.form-group {
  margin-bottom: 15px;
  height: 60px;
}

label {
  font-weight: 500;
}

.alert {
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
}
