html,
body {
  height: 100%;
}

.login-box,
.register-box {
  width: 360px;
  height: -webkit-fill-available;
  margin: auto;
}

.glyphicon {
  right: 10px;
}

.form-group {
  margin-bottom: 15px;
  height: 60px;
}

label {
  font-weight: 500;
}

.alert {
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.content-header > h1 {
  margin-bottom: 10px;
}

.content {
  min-height: 0px;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 10px;
}

.grid-item {
  padding: 5px;
  text-align: center;
}

.box-footer {
  border-top: none;
}

.img-box {
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
}

.line-vertical {
  border-right: 2px solid #e8e8e8;
  padding: 5px;
}
.form-filed {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}
.dropzone-wrapper {
  margin-top: 10px;
  margin-left: 25%;
  margin-right: 25%;
}
.dropzone {
  width: 100%;
  height: auto;
  padding: 10px;
  border: 1px dashed;
}

.content-shop-list {
  margin: 30px;
  margin-bottom: 0px;
}
.shop-list-image {
  width: 150px;
  height: 150px;
}
.shop-list-description {
  margin: 10px;
  padding: 5px;
  font-size: 14px;
}
.shop-list-features {
  list-style: none;
  display: -webkit-box;
  margin: 0;
  padding: 0;
}
.shop-list-features > li {
  margin: 10px;
}
.shop-list-buttons {
  width: 100%;
  padding: 10px;
}
.boder-line {
  height: 153px;
  display: -webkit-box;
  border-top: 3px solid #3c8dbc;
  /* border-bottom: 1px solid #3c8dbc; */
}
.shop-list-col-1 {
  width: 150px;
}
.shop-list-col-2 {
  width: 800px;
}
.shop-list-col-3 {
  width: 200px;
}
.info {
  color: red;
}
.shop-list-right {
  text-align: center;
}
.card-title {
  font-size: 25px;
  font-weight: 600;
  font-family: sans-serif;
}
.card-description {
  font-size: 16px;
}
